$primary:#092635;
$primaryHover:#1B4242;
$primaryHover2:#5C8374;

@mixin animacion(){
    -moz-transition:all 0.25s ease 0s;
    -o-transition:all 0.25s ease 0s;
    -ms-transition:all 0.25s ease 0s;
    -webkit-transition:all 0.25s ease 0s;
}


@mixin borderRadius($radio:50px){
    border-radius: $radio !important;
    -webkit-border-radius: $radio !important;
    -moz-border-radius: $radio !important;
    -ms-border-radius: $radio !important;
    -o-border-radius: $radio !important;
}

@mixin translateXY($x:-50%,$y:-50%){
    transform: translate($x,$y) !important;
    -webkit-transform: translate($x,$y) !important;
    -moz-transform: translate($x,$y) !important;
    -ms-transform: translate($x,$y) !important;
    -o-transform: translate($x,$y) !important;
}

@mixin translateX50(){
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}





#modalRegistro {
    .modal-header {border-bottom: 1px solid $primary;}
    .modal-dialog{max-width: 900px;}
    textarea {height: 140px;}
    .sendBtn { width: 180px !important;}
}


.bg-gris2 { background-color: #F3F3F3;}


.wp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    -moz-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    -ms-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    img {
        width: 100%;
    }
}
.wp:hover {
    opacity: 0.8;
}
 
  






/* HEADER */
.dropdown-menu[data-bs-popper] { margin-top: 0 !important;}

header.section-header { 
    background-color: #FFF; z-index: 999; position: fixed !important; top: 0 !important; width: 100% !important;
    @include animacion();
    .logo { height: 46px; }
    .barraTop { 
        background-color: #F6F6F6; text-align: center; width: 100%; height: auto; padding: 5px 10px;
        p { color: $primary; font-size: 13px; margin: 0; padding: 0;}
    }
    .nav-item {
        @include animacion();
    }
    .contUserMob { margin-left: auto;}
    .abreMenuMobile { margin-right: 10px; cursor: pointer; width: 35px; border-left: 1px solid $primary; padding-left: 16px;}
    .barraIconosDesktop {
        button { padding: 4px; margin-left: 1px !important;  @include animacion();}
        button:focus { outline: none !important; box-shadow: 0 0 0 0 rgb(13 110 253 / 25%) !important;}
        button img {  padding: 5px; @include animacion(); }
        button.user img { height: 32px; }
        button.cart img { height: 32px; }
        button.search img { height: 29px; }
        button.idioma img { height: 30px; }
        button:hover img { opacity: 0.5;}
        a.btnRegistro { border: 1px solid $primary;  padding: 8px 20px !important; margin-left: 10px !important;}
        a.btnRegistro:hover { background-color: #EEE;}
        a.btnLogin { border: 1px solid $primary; background-color: $primary; padding: 8px 20px !important; margin-left: 10px !important;}
        a.btnLogin:hover { background-color: $primaryHover2;}
        .searchMob { padding-left: 10px !important; padding-right: 10px !important; border-left: 1px solid #375b9f; @include borderRadius(0px);}
    }
    .dropdown-menu { padding: 0px 0;}
    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 4px;
        vertical-align: 1px;
        content: "";
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-bottom: 0;
        border-left: 4px solid transparent;
    }
    .dropdown-menu[data-bs-popper] {    top: 100%; left: 0px;}
}






.fixHeader { height: 118px;}

.barraIconosDesktop {
    button.idioma { 
        position: relative;
        ul {
            position: absolute;
            display: none;
            top: 100%;
            right: 50%;
            align-items: center;
            flex-direction: column;
            list-style: none;
            background-color: $primaryHover2;
            margin: 0;
            padding: 0;
            padding: 4px;
            @include translateX50();
            li { 
                padding: 3px 10px; width: 100%;
                a { color: #FFF; font-size: 14px; line-height: 22px; font-weight: 300; opacity: 0.8; text-decoration: none;}
            }
            li:hover { background-color: $primaryHover2;}
        }
    }
    button.idioma:hover ul { display: flex;}
    button.user { 
        position: relative;
        ul {     
            position: absolute;
            display: none;
            top: 100%;
            right: 50%; width: 120px;
            align-items: center;
            flex-direction: column;
            list-style: none;
            background-color: $primaryHover2;
            margin: 0;
            padding: 0;
            padding: 4px;
            @include translateX50();
            li { 
                padding: 3px 10px; width: 100%;
                a { color: #FFF; font-size: 14px; line-height: 22px; font-weight: 300; opacity: 0.8; text-decoration: none;}
            }
            li:hover { background-color: $primaryHover2;}
        }
    }
    button.user:hover ul { display: flex;}

    button.search { 
        position: relative;
        ul {     
            position: absolute;
            display: none;
            top: 120%;
            right: 4px; width: 350px;
            align-items: center;
            flex-direction: column;
            list-style: none;
            background-color: #EEE;
            margin: 0;
            padding: 0;
            padding: 4px;
            li { padding: 3px 10px; width: 100%; position: relative;}
        }
        form { display: flex;}
        .campo { border: none; background-color: transparent; width: 210px; color: #333;}
        .campo:focus {  outline: none;}
        .campo:focus-visible { outline: none}
        .btn { width: 80px; background-color: $primary; font-size: 13px; line-height: 20px;font-weight: 700; color: #FFF;}
        .btn:hover { background-color: #333;}
        ul {
            li .close { position: absolute; top: 5px; right: 10px; padding: 4px 6px; font-size: 15px; font-weight: bold;}
            li .close:hover { opacity: 0.6;}
        }
    }
    .dropCuenta, .dropIdioma {
        border-right: 1px solid $primary;
        padding: 0px 10px;
        .icon { height: 30px;}
        small { font-size: 15px; line-height: 21px;}
        ul {
            background-color: #EEE;width: 100px !important;
            li{
                border-bottom: 1px solid $primary;
                a { padding: 8px 12px; font-size: 15px; }
                :hover {background-color: $primary;}
            }
        }
    }
    .dropSearch {
         background-color: #FFF;  width: 500px; border: 1px solid #CCC;
         @include borderRadius(5px); box-sizing: border-box; padding: 3px;
         form {
             width: 100%;display: flex; align-items: center; justify-content: space-between;
             input { border: none; margin:0px; padding: 0; margin-left: 8px; flex-grow: 1; background: transparent !important; color: #333; font-size: 15px; line-height: 21px;} 
             input:focus {outline: none;}
             button { background-image: url(../img/ic-search.svg); background-position: center center; background-repeat: no-repeat; background-size: contain; width: 34px; height: 20px;}
         }
    }
    .countItem {
        position: absolute;
        background-color: #E30612;
        width: 20px;
        height: 20px;
        @include borderRadius($radio:20px);
        color: #FFF; font-size: 10px; font-weight: 700;
        display: flex; align-items: center; justify-content: center; top: -2px; right:6px;
    }
    .cart {
        padding: 0px 10px !important;
    }

}











.menuItem>.nav-link:hover { background-color: #f3f3f3;}
.menuItem a { font-size: 15px !important;}
.menuItem .dropMenuNivel1, 
.menuItem .dropMenuNivel2, 
.menuItem .dropMenuNivel3 { background-color: #EEE; width: max-content;}
.menuItem .dropMenuNivel1 .nav-item, 
.menuItem .dropMenuNivel2 .nav-item, 
.menuItem .dropMenuNivel3 .nav-item {  border-bottom: 1px solid #1f63ac; padding: 3px 3px;}
.menuItem .dropMenuNivel1 .nav-item:last-child, 
.menuItem .dropMenuNivel2 .nav-item:last-child, 
.menuItem .dropMenuNivel3 .nav-item:last-child { border: none;}
.menuItem .dropMenuNivel1 .nav-item:hover, 
.menuItem .dropMenuNivel2 .nav-item:hover, 
.menuItem .dropMenuNivel3 .nav-item:hover { background-color: $primary}
.menuItem .dropMenuNivel1 .nav-item .nav-link, 
.menuItem .dropMenuNivel2 .nav-item .nav-link, 
.menuItem .dropMenuNivel3 .nav-item .nav-link { padding: 0; padding-right: 10px; width: 100%; position: relative;     font-weight: 500; }
.menuItem .dropMenuNivel1 .nav-item .linked {    padding: 6px 8px !important;}
.menuItem .drop-down02 .dropdown-toggle { padding: 6px 8px !important;}
.menuItem .dropMenuNivel1 .nav-item .nav-link::after, 
.menuItem .dropMenuNivel2 .nav-item .nav-link::after, 
.menuItem .dropMenuNivel3 .nav-item .nav-link::after {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg) ;
    -webkit-transform: translateY(-50%) rotate(-90deg) ;
    -moz-transform: translateY(-50%) rotate(-90deg) ;
    -ms-transform: translateY(-50%) rotate(-90deg) ;
    -o-transform: translateY(-50%) rotate(-90deg) ;
}
.menuItem .dropMenuNivel3 li {  border-bottom: 1px solid #1f63ac; padding: 0 !important;}
.menuItem .dropMenuNivel3 li a {  color: #FFF; padding: 8px 10px !important;}
.menuItem .dropMenuNivel3 .dropdown-item:hover { background-color: $primary;}


.sub-menu01 {	position: absolute !important;	left: 100% !important;	top: 0px !important; width: max-content !important;}

.drop-down02 {	
    position:relative;
    border-bottom: 1px solid #CCC;
    .sub-menu02 {     position: absolute !important;    left: 101% !important;    top: -1px !important;}
    .dropdown-toggle {	 padding:6px 10px !important; padding-right: 0px !important;}
}



.menuNivel2 {
    li { 
        padding: 3px !important;
        a {padding: 6px 10px!important;}
    }
    li:hover {
        background-color: $primary !important;
        a {background-color: $primary !important;}
    }
}








/* MENU MOBILE */
.menuMobile { 
    display: none; padding: 30px; padding-top: 10px; overflow-y: scroll; background-color: #EEE;
    form { 
        display: flex; width: 100%;  background-color: $primary;
        @include borderRadius($radio:4px);
        overflow: hidden;
        .campo { border: none; background-color: #d9d9d9; flex-grow: 1; color: #222; box-sizing: border-box; padding: 12px; padding-left: 16px;}
        .campo:focus { border: none;}
        .btn {
            width: 80px;
            background-color: $primary;
            color: #FFF;
            font-size: 13px;
            line-height: 20px;
            font-weight: 700;
            @include borderRadius($radio:0px);
}
     }
    
}

.navbarMobile {
    * { color: #555 !important; text-decoration: none !important; font-size: 16px; font-weight: 500;}
    .dropMenu01  {
        background-color: #e5e5e5;
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        @include translateXY($x:0,$y:0);
        // transform: translate(0,0) !important ;
        // -webkit-transform: translate(0,0) !important ;
        // -moz-transform: translate(0,0) !important ;
        // -ms-transform: translate(0,0) !important ;
        // -o-transform: translate(0,0) !important ;

    }
    .sub-menu02  {
        background-color: #EEE;
        position: relative !important; border: none;
        top: 0 !important;
        left: 0 !important;
        @include translateXY($x:0,$y:0);
        // transform: translate(0,0) !important ;
        // -webkit-transform: translate(0,0) !important ;
        // -moz-transform: translate(0,0) !important ;
        // -ms-transform: translate(0,0) !important ;
        // -o-transform: translate(0,0) !important ;
    }
    .botProductos { 
        padding: 8px 5px !important;border-bottom: 1px solid #c1c1c1; padding: 8px 0px !important;  width: 100%;
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .itemOnly {
        a { box-sizing: border-box; padding-left: 8px;}
        :hover {
            background-color: $primary !important;
            a {background-color: $primary !important; } 
        } 
    }
    .drop-down02 .sub-menu02  a{ opacity: 0.8; box-sizing: border-box; padding-left: 10px;}
}











// CARRITO SIDE
.carritoSide { 
    background-color: #FFF !important; 
    width: 380px;
    min-width: 380px;
    height: 100vh;
    position: fixed;
    top: 0px;
    overflow:auto !important;
    right: -380px;
    z-index: 99999;
    transition: 0.2s ease;
    h2 { color: $primary;}
    ul { background-color: #F5F5F5;}
    .btnPedido {
        background-color: $primary;
        color: #FFF;
        font-weight: 600;
        padding: 10px 55px;
        width: 90%;
        @include animacion();
        @include borderRadius($radio:4px);
    }
    .btnPedido:hover {background-color: $primaryHover2;}
    .btnSeguir {
        color: $primary;
        border: 1px solid $primary;
        font-weight: 600;
        padding: 10px 55px;
        width: 90%;
        @include animacion();
        @include borderRadius($radio:4px);
    }
    .btnSeguir:hover {background-color: #CCC;}
    .closeCart { position: absolute; top: 10px; right: 10px; cursor: pointer; padding: 6px;}
    .productoCarrito { 
        display: flex; align-items: center; position: relative; width: 90%; margin: auto;
        .foto { width: 10%; margin-right: 0px;}
        .info { width: 80%; margin: auto; text-align: left !important; padding: 0px 12px;}
        .info p { font-size: 16px; line-height: 21px; padding-top: 3px !important;}
        .botBorrar { width: 10%;}
        .botBorrar:hover { color: red !important; }
        .price { color: $primary;}
    }
    .bordeBot { 
        border-bottom: 1px solid #EEE; padding: 12px 0px;
        p { margin-bottom: 0; text-align: left;}
        .campo { display: flex; align-items: center; justify-content: space-between; box-sizing: border-box; padding: 3px;
            background-color: #FFF;
            border: 1px solid #CFCFCF;
            width: 100%;
            @include borderRadius($radio:20px);
            .elcampo { border: none; flex: 1; margin-left: 7px;}
            .btnSend { border: none; background-color: #B7B7B7; color: #FFF; font-size: 14px; padding: 5px 12px; margin-right: 1px;
                @include borderRadius($radio:20px);
                @include animacion();
            }
            .btnSend:hover { background-color: #666;}
        }
    }
    .bordeBot2 { 
        padding: 8px 0px;
        p { margin-bottom: 0; text-align: left;}
    }
}



@media(max-width: 400px){
    .sidecart{    width: 100vw;    right: -100vw;}
}

.open-cart{right: 0px !important;}
.open-cart:before{
    content: '';    position: fixed;    top: 0px;
    height: 100vh;    left: 0px;    right: 380px;    bottom: 0px;    pointer-events: none;    background-color: black;    opacity: 0.5;    z-index: -1;
}









.sliderHero {}
.owl-theme .owl-nav.disabled+.owl-dots { margin-top: -25px !important; z-index: 99999; position: absolute; text-align: center;  width: 100%;}
.owl-dot.active span { background-color: $primary !important;}





// BENEFICIOS
.contBeneficios {
 .row {
    border: 1px solid #CAD6E2; @include borderRadius(15px); box-sizing: border-box; padding: 20px; margin-top: 110px;
    .cu {
        position: relative;
        .icono { background-color: #FFF; border: 1px solid #CAD6E2; width: 100px; height: 100px; margin: auto; display: flex; align-items: center; justify-content: center; @include borderRadius(100%); position: absolute; top: -72px; left: 50%; @include translateX50();}
        h3 { color: $primary; font-size: 22px; line-height: 28px; margin-top: 50px; margin-bottom: 8px;}
        p { font-size: 14px; line-height: 21px;}
    }
 }
}





// BLOQUE PRODUCTOS
.bloqueProductos {
    overflow-x: hidden;
    h4 { font-size: 38px; line-height: 46px; font-weight: 600; color: #092635;}
    .container, .container-sm {
        max-width: initial !important;
    }
    .sliderProductos {
        position: relative;
        .owl-nav.disabled { display: flex !important; }
        .owl-stage-outer { padding: 20px 0px;}
        .producto {
            border: 1px solid #DBDBDB; @include borderRadius(12px); overflow: hidden; padding: 0px 10px; padding-bottom: 14px;
            background-color: #FFF; width: 94%; margin: auto;
            box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.41);
            -webkit-box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.41);
            -moz-box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.41);
            .marca {position: absolute; top: 6px; right: 20px; width: auto;}
            .foto { margin-top: 12px;}
            h6 { color: #2E2E2E; font-size: 18px; line-height: 26px; font-weight: 400; padding: 0px 20px;}
            span { color: #989898;}
            .price { 
                color: $primary; font-size: 26px; line-height: 32px; font-weight: 700;
                del { opacity: 0.5; font-size: 16px;}
            }
            button.btn { letter-spacing: 1px; font-size: 14px; font-weight: 500; background-color: $primary;}
            button.btn:hover { background-color: $primaryHover2; }
            button.btn.btnSinstock { letter-spacing: 1px; font-size: 13px; font-weight: 500; background-color: #949494;}
        }
        .owl-nav {
            position: absolute;
            width: 106%;
            height: 30px;
            top: 50%;
            left: 50%;
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 !important;
            padding: 0 !important;
            @include translateXY();
            button {
                width: 40px; height: 40px; overflow: hidden; text-align: center;
                span {
                    font-size: 58px; margin: 0 !important; padding: 0 !important; opacity: 0.4;
                    width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;
                }
            }
            button:hover { background-color: #FFF !important; color: #333; opacity: 0.5;}
        }
    }
}
.relacionados { background-color: #EEE;}





// BLOG
.bloqueBlog {
    overflow-x: hidden; background-color: #F5F5F5;
    h4 { font-size: 38px; line-height: 46px; font-weight: 600; color: #092635;}
    .container, .container-sm {
        max-width: initial !important;
    }
    .sliderBlog {
        position: relative; padding-bottom: 40px;
        .owl-nav.disabled { display: flex !important; }
        .owl-stage-outer { padding: 20px 0px;}
        .nota {
            @include borderRadius(12px); overflow: hidden; padding: 5px; padding-bottom: 12px;
            background-color: #FFF; width: 94%; margin: auto;
            box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.2);
            -webkit-box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.2);
            -moz-box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.2);
            .marca {position: absolute; top: 6px; right: 20px; width: auto;}
            .foto { @include borderRadius(10px);}
            h6 { color: $primary; font-size: 22px; line-height: 28px; font-weight: 500; padding: 0px 20px;}
            p { color: #333; font-size: 16px; line-height: 24px; font-weight: 400; padding: 0px 20px;            }
            button.btn { letter-spacing: 1px; font-size: 13px; font-weight: 500; color: $primary; border: 1px solid $primary;}
            button.btn:hover { background-color: $primaryHover2; color: #FFF !important; }
            button.btn.btnSinstock { letter-spacing: 1px; font-size: 13px; font-weight: 500; background-color: #949494;}
        }
        .owl-nav {
            position: absolute;
            width: 106%;
            height: 30px;
            top: 50%;
            left: 50%;
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 !important;
            padding: 0 !important;
            @include translateXY();
            button {
                width: 40px; height: 40px; overflow: hidden; text-align: center;
                span {
                    font-size: 58px; margin: 0 !important; padding: 0 !important; opacity: 0.4;
                    width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;
                }
            }
            button:hover { background-color: #FFF !important; color: #333; opacity: 0.5;}
        }
    }
}


// CATEGORIAS
.bloqueCategorias { 
    position: relative; margin-bottom: 30px;
    margin-top: 30px; padding-bottom: 80px;
    .back {
        background-color: #F5F5F5; width: 100%; height: 70%; position: absolute; bottom: 0px; left: 0; z-index: -1;
    }
    .row { width: 96%; max-width: 1400px; margin: auto !important;}
    .cadaCat {
        background-color: #EEE; @include borderRadius(24px); border: 4px solid #D4D4D4; height: 400px; position: relative; overflow: hidden; @include animacion();
        display: flex; background-position: center center; background-size: cover;
        a { text-decoration: none; cursor: pointer; display: flex; flex-direction: column; width: 100%; height: 100%; align-items: center; justify-content: end;
        position: relative;}
         .misc {
             margin-top: -90px; height: 100px; width: auto;
         }
         h3 {
             color: #2E2E2E; font-size: 24px; line-height: 32px; font-weight: 600; letter-spacing: 1px;
         }
         p { font-size: 15px; line-height: 22px; margin-bottom: 12px; @include animacion();}
         .foto { height: 320px;}
    }
    .btn { letter-spacing: 1px; font-size: 13px; font-weight: 500; background-color: $primaryHover2; position: absolute; bottom: -50px; @include animacion();}
    .btn:hover { background-color: #FFF !important; color: $primary !important; }
    .cadaCat:hover {
        border: 4px solid #A1B9D2; 
        .btn { bottom: 14px;}
        p { margin-bottom: 68px;}
    }
}






// NEWSLETTER
.contNews {
     background-color: #FFF; overflow-x: hidden;
     padding: 60px 0px;
     h6 {         font-size: 34px; line-height: 50px; color: $primary;   }
     label { font-size: 14px;}
     .campoNews {
        display: flex; border: 1px solid #CDE1F5;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        @include borderRadius($radio:50px);
        input {background: transparent; border: none; color: #444; font-size: 18px; line-height: 24px; font-weight: 300;}
        .icon { width: 16px;}
        button { background: transparent; border: none; }
        button:hover { background: transparent; border: none; opacity: 0.6;}
    }
    ul {
        list-style: none; display: flex; align-items: center; padding-left: 0px;
        li {
             padding: 3px 6px; margin-right: 6px;
        }
        li:hover { opacity: 0.8;}
    }
    .line { width: 1px; height: 100px; background-color: #CDE1F5; margin: auto;}
}



// FOOTER
footer {
    background-color: $primary; background-image: url(../img/_fondo-foot.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover;
    padding: 50px 0px;
    .row { max-width: 1400px; margin: auto;}
    .colLogo {
        .logo { width: auto; max-width: 300px; height: auto;}
        a { text-decoration: none; font-size: 13px; line-height: 20px; margin-left: 20px;}
    }
    h4 { color: #FFF; font-size: 18px; letter-spacing: 1px;}
    ul { 
        list-style: none; 
        li {
            a {
                font-size: 14px; line-height: 20px; font-weight: 300; color: #FFF; text-decoration: none; letter-spacing: 1px; opacity: 0.8;
            }
            a:hover { opacity: 1; color: #FFF;}
        }
    }
}
.legal {
    background-color: #272727; text-align: center; color: #999; padding: 8px 0px;
    p { color: #999; font-size: 11px;letter-spacing: 1px; margin: 0; padding: 0px 22px;} 
}






// CATEGORIAS
.heroCategoria { background-color: #F3F3F3;
    height: auto; background-position: center center; background-size: cover; padding: 90px 0px; white-space: pre; background-repeat: no-repeat;
    h2{ font-size: 40px; line-height: 48px; text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);padding: 0px 20px; white-space: initial; text-align: center;}
    p {
        font-size: 14px; line-height: 20px; margin-bottom: 0px; padding-bottom: 0px; color: #EEE; padding: 0px 20px; white-space: initial; text-align: center;
        a {  text-decoration: none; color: #EEE; font-size: 14px;}
        a.current { font-weight: bold; color: #FFF;}
        a:hover { text-decoration: underline;}
    }
}
.heroCategoria.noImg { padding: 60px 0px;}


.ordenListado {
    select { width: 60%; max-width: 400px; margin-right: 20px; padding: 6px; box-sizing: border-box; border: 1px solid #C5C5C5; @include borderRadius(4px)}
    .btn {    background-color: #CCC; width: 40px; height: 40px; @include borderRadius(50px); display: flex; align-items: center; justify-content: center; }
    .btn.active { background-color: $primary;}
    .btn:hover { background-color: $primary;}
    .btnFiltro { }
    .breads {
        display: flex; align-items: center;
        p {
            font-size: 14px; line-height: 20px; margin-bottom: 0px; padding-bottom: 0px;
            a { 
                text-decoration: none; color: #666; font-size: 14px;
            }
            a.current { font-weight: bold; color: $primary;}
            a:hover { text-decoration: underline;}
        }
    }
}




.columnaFiltros {
    .filtrosNivel1 {
        .accordion-header {
            .textCat { color: $primary; font-weight: 700; font-size: 18px; padding-left: 18px; line-height: 22px;}
        }
        .accordion-button {background-color: #FFF;  @include borderRadius(0px); padding: 10px 14px; padding-top: 16px;}
        .accordion-button::after { display: none !important;}
        .accordion-item {border: none; @include borderRadius(0px);}
        .accordion-body { padding: 0px; padding-bottom: 10px;}
        .accordion-collapse { width: 100%; margin: auto; padding-top: 6px !important; padding-bottom: 0px !important; padding: 0px 20px;}
    }

    .filtrosNivel2 {
        padding: 6px 0px; border-bottom: 1px solid #EEE;
        .accordion-item {background-color: #F9F9F9; border: none; @include borderRadius(0px);}
        .accordion-button {@include borderRadius(0px); font-size: 15px; font-weight: 400; padding: 8px 10px; @include animacion(); }
        .accordion-button:not(.collapsed) { background-color: #FFF !important; padding: 12px 10px; font-weight: 600;color: $primary;}
        .accordion-button::after { display: block !important;}
        .accordion-collapse  { 
            background-color: #FFF; width: 100%; padding: 10px; box-sizing: border-box; padding-bottom:0px !important; padding-top: 0px !important;
            border-bottom: 1px solid #CCC; @include borderRadius(0px);
        }
        .contCheck { padding: 2px 0px;}
        input { width: 10px; height: 10px; margin-right: 6px;}
        label { font-size: 14px; color: #515151; font-weight: 400;}
        a { font-size: 14px; line-height: 18px; color: #515151; font-weight: 400; text-decoration: none; padding-left: 4px;}
        a:hover {  font-weight: 700; }
        .accordion-button::after {
            width: 12px;
            height: 12px;
            background-size: cover;
        }
    }

}


.columnaProductos {
    display: flex; align-items: stretch; justify-content: start; flex-wrap: wrap; 
    .producto {
        width: 23%; margin: 0px 1%; text-align: center; margin-bottom: 40px; position: relative; @include animacion();
        border: 1px solid #DBDBDB; @include borderRadius(12px); overflow: hidden; background-color: #FFF;max-height: 500px;
        box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.41);
        -webkit-box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.41);
        -moz-box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.41);
        display: flex; flex-direction: column; align-items: center; justify-content: space-between;
        .marca {position: absolute; top: 4px; right: 4px; width: auto; height: 45px;}
        .foto { margin-top: 15px;}
        h6 { color: #2E2E2E;            font-size: 16px;            line-height: 22px;            font-weight: 400;            padding: 0px 20px;}
        span { color: #989898; font-size: 14px;}
        .price { 
            color: #092635;            font-size: 23px;            line-height: 29px;            font-weight: 700;
            del { opacity: 0.5; font-size: 14px;}
        }
        a.btn { letter-spacing: 1px; font-size: 13px; font-weight: 500; background-color: $primary; margin-bottom: 12px;}
        a.btn:hover { background-color: $primaryHover2; }
        a.btn.btnSinstock { letter-spacing: 1px; font-size: 13px; font-weight: 500; background-color: #949494;}
    }
    .producto:hover {
        box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.15);
        -webkit-box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.15);
        -moz-box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.15);
    }
}


.columnaProductos.lista {
    display: block;
    .producto {
        width: 100%; margin: 0px; text-align: left; margin-bottom: 10px; position: relative;  border-bottom: 1px solid #EEE; padding: 10px 0px !important;
        align-items: center; justify-content: space-between; flex-direction: row;
        a {display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;}
        .foto { width: 10% !important; margin-top: 0px;}
        .nombre { 
            display: flex; flex-direction: column; width: 36% !important; padding-left: 20px; box-sizing: border-box; align-items: flex-start; padding-right: 20px;
            .marca {position: relative; top: initial; right: initial; width: auto !important; height: 35px; margin-bottom: 8px;}
            h6 { color: #2E2E2E;            font-size: 16px;            line-height: 20px;            font-weight: 400;  padding: 0 !important; margin: 0 !important;}
            span { color: #989898; font-size: 14px;}
        }
        .price { 
            color: #1D1D1D; font-size: 20px; line-height: 26px; font-weight: 700; width: 30%; text-align: right; padding-right: 30px;
            del { opacity: 0.5; font-size: 14px;}
        }
        button.btn { letter-spacing: 1px; font-size: 13px; font-weight: 500; background-color: $primary; width: 24%; max-width: 170px; margin-right: 16px;}
        button.btn:hover { background-color: $primaryHover2; }
        button.btn.btnSinstock { letter-spacing: 1px; font-size: 13px; font-weight: 500; background-color: #949494;}
    }
}






// DETALLE PRODUCTO
.detalleProducto {
    h2 { font-size: 32px; line-height: 36px;}
    ul { list-style: none; color: #6A6A6A; font-size: 15px; line-height: 23px;}
    .price { 
        color: #1D1D1D; font-size: 36px; line-height: 42px; font-weight: 700; text-align: left; width: 100%; display: flex; align-items: center;
        del { opacity: 0.5; font-size: 22px; font-weight: 400; margin-left: 10px;}
    }
    .campoCantidad {
        display: flex; align-items: stretch;
        .numero { background-color: #FFF; border: 1px solid $primary;
            width: auto; display: flex; align-items: center; @include borderRadius(4px); margin-right: 10px; padding: 4px; box-sizing: border-box;
            button {  color: #89A2B1; display: flex; align-items: center; justify-content: center; width: 34px; height: 34px; border: none; background-color: #FFF;
            @include borderRadius(4px); @include animacion(); font-size: 24px; font-weight: 300;}
            button:hover { background-color: #CCC; color: #111;}
            span { text-align: center; margin: 0; padding: 0; width: 46px; font-size: 18px;}
        }
        button { color: #FFF; letter-spacing: 1px; font-weight: 500; font-size: 14px;}
    }
    .detalle {
        p { margin-bottom: 6px;}
    }
    .breads {
        font-size: 14px; line-height: 20px; margin-bottom: 0px; padding-bottom: 0px;
        a { 
            text-decoration: none; color: #666; font-size: 14px;
        }
        a.current { font-weight: bold; color: $primary;}
        a:hover { text-decoration: underline;}
}
}
.breadcrumb {
    p {
        font-size: 14px; line-height: 22px; padding: 0px 12px; margin-bottom: 0; padding-bottom: 0;
        a { text-decoration: none; color: #555;}
        a:hover { text-decoration: underline;}
        b { font-weight: 700;}
    }
}





/* GALERIA */
.columnGallery {
    padding-right: 30px; 
    .show {    
        width: 100%;    height: auto;    
    }
    .small-img {    
        width: 100%;    height: 70px;    margin-top: 10px;    position: relative;    left: 0px;  
        .icon-left, .small-img .icon-right {    width: 12px;    height: 24px;    cursor: pointer;    position: absolute;    top: 0;    bottom: 0;    margin: auto 0;  }
        .icon-left { transform: rotate(180deg) }
        .icon-right { right: 0; }
        .icon-left:hover { opacity: .5; }
        .icon-right:hover { opacity: .5; }
    }
    .small-container {    
        width: 100%;    height: 70px;    overflow: hidden;    position: absolute;    left: 0;    right: 0;    margin: 0 auto;  
        div {    width: 800%;    position: relative;  }
        .show-small-img {    width: 60px;    height: auto;    margin-right: 6px;    cursor: pointer;    float: left;  }
        .show-small-img:last-of-type { margin-right: 0; }
    }
}






.productoCarrito {
    width: 100%; margin: 0px; text-align: left; margin-bottom: 10px; position: relative;  border-bottom: 1px solid #EEE; padding-bottom: 10px;
    display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap;
    .foto { width: 10% !important; }
    .nombre { width: 35% !important; 
        display: flex; flex-direction: column; padding-left: 15px; box-sizing: border-box; align-items: flex-start;
        .marca {position: relative; top: initial; right: initial; width: auto !important; margin-bottom: 7px; height: 35px;}
        h6 { color: #2E2E2E; font-size: 16px; line-height: 20px;}
        span { color: #989898; font-size: 14px;}
    }
    .campoCantidad {
        display: flex; align-items: stretch;
        .numero { background-color: #FFF; border: 1px solid $primary;
            width: auto; display: flex; align-items: center; @include borderRadius(4px); padding: 4px; box-sizing: border-box;
            button {  color: #89A2B1; display: flex; align-items: center; justify-content: center; width: 34px; height: 34px; border: none; background-color: #FFF;
            @include borderRadius(4px); @include animacion(); font-size: 24px; font-weight: 300;}
            button:hover { background-color: #CCC; color: #111;}
            span { text-align: center; margin: 0; padding: 0; width: 46px; font-size: 18px;}
        }
        button { color: #FFF; letter-spacing: 1px; font-weight: 500; font-size: 14px;}
    }
    .price {  width: 20%; 
        color: #1D1D1D; font-size: 20px; line-height: 26px; font-weight: 700; width: 30%; text-align: right; padding-right:15px; margin-bottom: 0;
        del { opacity: 0.5; font-size: 14px;}
    }
    .btnErase { width: 5%; 
        background-color: #FFF; color: #89A2B1; border: 2px solid #CCC; display: flex; align-items: center; justify-content: center; width: 30px; height: 30px;
            @include borderRadius(4px); @include animacion(); font-size: 18px; font-weight: 300;
    }
    .btnErase:hover { background-color: #EEE; color: rgb(129, 9, 9) !important; border-color: rgb(230, 82, 82);}
}










.infoSubtotal {
    border: none !important;
    * { color: #6A6A6A !important;}
    .card-body {        padding: 22px !important;  background-color: #F9F9F9; @include borderRadius(8px); border: 1px solid #DBDBDB; }
    .black { color: #111 !important;}
    .card { border: none; @include borderRadius(8px);}
    .borderBot { border-bottom: 1px solid #DDD;}
    .campo { 
        background-color: #FFF;@include borderRadius(6px); overflow: hidden; border: 1px solid #CCC; box-sizing: border-box; padding: 3px; width: 100%;
        .elcampo { width: 70%; border: none; }
        .elcampo:focus { outline: none !important; box-shadow: 0 0 0 0 rgb(13 110 253 / 25%) !important;}
        .btnSend { width: 30%; background-color: #841B56; color: #FFF !important; font-size: 12px; border: none; font-weight: 600 !important;
            @include borderRadius(5px);
            @include animacion();}
        .btnSend:hover { background-color: #741249;}
    }
    .btnComprar { background-color: $primary; color: #FFF !important; font-size: 15px; line-height: 26px; font-weight: 600 !important;}
    .btnComprar:hover { background-color: $primaryHover;}
    .btnSeguir { background-color: #FFF; color: $primary !important; border: 1px solid $primary; font-size: 15px; line-height: 26px; font-weight: 600 !important;}
    .btnSeguir:hover { background-color: #EEE;}

    .contDiscount {
        border: 1px solid #DBDBDB; background-color: #FFF; @include borderRadius(8px); box-sizing: border-box; padding: 15px 15px;
    }
}




// GENERAL
.txtGral {
    h2 { font-size: 40px;}
}


.faqs { 
    margin-left: 0; padding-left: 0px; margin-top: 10px;
    li { 
        display: flex; align-items: stretch; margin-bottom: 30px;
        .num { 
            display: flex;    flex-direction: column;    align-items: center;    justify-content: stretch;
            span { 
                background-color: $primary; width: 26px; height: 26px; display: flex; align-items: center; justify-content: center; color: #FFF; font-weight: bold; font-size: 14px; 
                @include borderRadius(20px);
            }
            .line { background-color: #F2F2F2; width: 4px; height: auto; min-height: 40px; margin-top: 13px; flex-grow: 1;}
        }
        .texto { 
            padding-left: 10px;
            h6 {color: #231F20; font-size: 19px; line-height: 27px; font-weight: 800;}
            p { margin-bottom: 0px;}
        }
    }
}




.formLogin {
     width: 90%; max-width: 500px; margin: auto;
     button:hover { background-color: $primaryHover2 !important;}
     input { text-align: left !important;}
     textarea { text-align: left !important; width: 100%; height: 140px; resize: none;}
     .contChecks {
        input { width: 10px; height: 10px; margin-right: 6px;}
        label { font-size: 14px;}
     }
     small { font-size: 13px;}
}





.listaBlog {
    position: relative; padding-bottom: 40px;
    .nota { margin-bottom: 40px;
        a { width: 94%; display: block;
            @include borderRadius(12px); overflow: hidden; padding: 5px; padding-bottom: 12px;
            background-color: #FFF; margin: auto;
            box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.2);
            -webkit-box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.2);
            -moz-box-shadow: 2px 1px 13px -3px rgba(0,0,0,0.2);}
        .foto { @include borderRadius(10px);}
        h6 { color: $primary; font-size: 22px; line-height: 28px; font-weight: 500; padding: 0px 20px;}
        p { color: #333; font-size: 16px; line-height: 24px; font-weight: 400; padding: 0px 20px;            }
        button.btn { letter-spacing: 1px; font-size: 13px; font-weight: 500; color: $primary; border: 1px solid $primary;}
        button.btn:hover { background-color: $primaryHover2; color: #FFF !important; }
        button.btn.btnSinstock { letter-spacing: 1px; font-size: 13px; font-weight: 500; background-color: #949494;}
    }
}






.notaDetalle {
    .bread {
        font-size: 15px; line-height: 20px; margin-bottom: 0px; padding-bottom: 0px;
        a { 
            text-decoration: none; color: #666; font-size: 15px;
        }
        a.current { font-weight: bold; color: $primary;}
        a:hover { text-decoration: underline;}
    }
    h2 { font-size: 40px; line-height: 48px;}
}




.contFaqs {
    h2.accordion-header button { font-size: 22px; line-height: 28px; background-color: transparent; @include animacion(); }
    .accordion-item { border: none; border-bottom: 1px solid #EEE;  padding: 6px 0px;   }
    .accordion-item:hover { background-color: #f7f7f7;}
    .accordion-button:not(.collapsed) {        background-color: #f7f7f7; box-shadow: inset 0 -1px 0 rgb(0 0 0 / 0%);    }
}






















// XXL
@media(max-width: 1400px){

    .barraIconosDesktop .dropSearch {        width: 420px;    }


}



// XL
@media(max-width: 1200px){
    .columnaProductos .producto button.btn {        letter-spacing: 0px;        font-size: 12px;    }
    .columnaProductos.lista .producto .foto {        width: 7% !important;    }
}



// LG
@media(max-width: 992px){

    .columnaProductos {
        .producto {            width: 31%; margin: 0px 1%; margin-bottom: 40px;        }
    }

    .bloqueCategorias .cadaCat h3 {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0px; padding: 0px 10px;
    }

    .columnaProductos {
        .producto {
            max-height: inherit;
        }
    }

    header.section-header .barraIconosDesktop a.btnRegistro {        padding: 8px 10px !important;        margin-left: 5px !important;    }
    header.section-header .barraIconosDesktop a.btnLogin {        padding: 8px 10px !important;        margin-left: 5px !important;    }
    .barraIconosDesktop .dropSearch {  width: 310px; }
}



// MD
@media(max-width: 768px){
    .dropCuenta, .dropIdioma {
        padding: 0px 3px !important;
    }
    .bloqueCategorias .cadaCat .foto {        height: auto; width: 173px; margin-top: 40px;    }
    .columnaProductos {
        .producto {            width: 48%; margin: 0px 1%; margin-bottom: 40px;        }
    }

    .columnaProductos.lista {
        .producto {
            .foto { width: 15% !important;}
            .nombre {  width: 48% !important;}
            .price {  width: 37%; padding-right: 20px;}
            button.btn {  width: 100%; margin-left: auto; margin-top: 15px !important;}
        }
    }
    .columnGallery {        padding-right: 0px;     }


    .productoCarrito {
        .foto { width: 10% !important; }
        .nombre { 
            width: 43% !important; padding-left: 3px;
            .price {  width: 100%; text-align: left; margin-top: 6px;  }
          }
        .campoCantidad {
            width: 30%;
            .numero button {   width: 30px;  }
            .numero span {   width: 35px;  }
         }
        .btnErase { width: 10%;height: 40px;  }
    }
    .txtGral {
        h2 { font-size: 32px;}
        p { font-size: 15px;}
    }

    .prehome .colDer { background-image: url(../img/backPrehome-m.jpg); }

    .contBeneficios .row { width: 90%; margin: auto;}
    .contBeneficios .row .cu {
         margin: 10px 0px;
    }
    .contBeneficios .row .cu .icono {
        top: 0px;
        left: 0;
        position: relative;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    .contBeneficios .row .cu h3 {
        margin-top: 15px;
        margin-bottom: 8px;
    }

    .bloqueCategorias .cadaCat {
        height: 340px;
    }

    .contBeneficios .row .cu .icono {
        width: 70px;
        height: 70px;
        img { width: 36px;}
    }

    .bloqueCategorias .cadaCat h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .bloqueProductos .sliderProductos .producto {        width: 88%;    }
    .bloqueProductos .sliderProductos .producto .marca {        right: 36px;    }

    .bloqueProductos h4 {        font-size: 28px;        line-height: 34px;    }
    .bloqueBlog h4 {        font-size: 28px;        line-height: 34px;     }

    .bloqueCategorias {        padding-bottom: 0px;    }

    footer .colLogo { display: flex; align-items: center; justify-content: center; flex-direction: column;}
    footer .colLogo .logo { margin-bottom: 12px;}
    footer .colLogo a {  margin: 0;}

    .notaDetalle {
        h2 { font-size: 30px; line-height: 36px;}
    }

}


// SM
@media(max-width: 576px){
    .contNews h6 {        font-size: 36px;        line-height: 36px;    }
    .columnaProductos {
        .producto {            width: 100%; margin: 0px 0%; margin-bottom: 40px;        }
    }
    .heroCategoria h2 {        font-size: 32px;        line-height: 40px;    }

    .bloqueProductos .sliderProductos .producto {        width: 86%;    }
    .bloqueProductos .sliderProductos .producto .marca {        right: 36px;    }

    .detalleProducto .price {        font-size: 30px;        line-height: 35px;    }
    .detalleProducto h2 {        font-size: 26px;        line-height: 30px;    }

    header.section-header .barraIconosDesktop a.btnRegistro {        padding: 8px 6px !important;        margin-left: 5px !important;        font-size: 13px;    }
    header.section-header .barraIconosDesktop a.btnLogin {        padding: 8px 6px !important;        margin-left: 5px !important;        font-size: 13px;    }

}



// XSM
@media(max-width: 440px){

    header.section-header .logo {        height: 36px;    }
    header.section-header .abreMenuMobile {        margin-right: 0px;        padding-left: 10px;    }
    header.section-header .barraIconosDesktop .searchMob {        padding-left: 3px !important;        padding-right: 3px !important;    }
  

    .barraIconosDesktop button.search ul {        width: 320px;}
    .barraIconosDesktop button.search .campo {        width: 185px;    }
}
